<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.polimi.expogame" >

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- remember to put always the uses-permission above the application tag -->
    <!-- PERMISSION HERE -->

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.PRIORITY_HIGH_ACCURACY"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- END PERMISSION -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".fragments.ar.ARActivity"
            android:label="@string/title_activity_ar" >
        </activity>
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".providers.IngredientsProvider"
            android:enabled="true"
            android:exported="false"
            android:authorities="it.polimi.expogame.ingredientsprovider">
        </provider>
        <provider
            android:name=".providers.DishesProvider"
            android:authorities="it.polimi.expogame.dishesprovider"
            android:enabled="true"
            android:exported="false" >
        </provider>
        <provider
            android:name=".providers.MascotsProvider"
            android:authorities="it.polimi.expogame.mascotsprovider"
            android:enabled="true"
            android:exported="false" >
        </provider>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCZkWYcWGl7pcO3vf5AJu6VLS24XuJtEKc" />

        <activity
            android:name=".activities.DetailsActivity"
            android:label="@string/title_activity_details" >
        </activity>
    </application>

</manifest>
