extends layout


block content
	.row
		.col-xs-12.col-sm-12.col-md-12.col-lg-12
			.row.text-center
				h1 #{title}
			.row
				.col-sm-12.col-md-6.col-lg-6
					a.btn.btn-lg.btn-primary.btn-circle.btn-xl.marginbig(href='/dishes/new')
						span.glyphicon.glyphicon-plus
							br
							span Dish

				.col-sm-12.col-md-6.col-lg-6
					a.btn.btn-lg.btn-primary.btn-circle.btn-xl.marginbig(href='/zones/new')
						span.glyphicon.glyphicon-plus
							br
							span Zone