extends layout


block content

    .page-header
      h1.text-center Ingredient List
      .container
        .row
          .col-xs-12.col-sm-12.col-md-6.col-lg-6
            a.btn.btn-lg.btn-primary.btn-circle.btn-xl.marginbig(href='/ingredients/new')
              span.glyphicon.glyphicon-plus
                br
                span New

             each result in ingredient
               .row
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                  img(src='/images/tomato.png')
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                  span #{result.names[0].name}
                br

